
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "braco corpo corpo"
    "perna perna perna";
    grid-template-rows: 200px auto 250px;
    grid-template-columns: 200px 150px  ;
}
header{
    background-color: black;
    grid-area: cabeca;
    
}
main{
    background-color: blue;
    grid-area: corpo;
    height: auto;
}
aside{
    background-color: gray;
    grid-area: braco;
}
footer{
    background-color: darkred;
    grid-area: perna;
    height: auto;
    
}
@media only screen and (max-width: 850px){
body{
      display: grid;
    grid-template-areas:
    "cabeca"
    "braco"
    "corpo"
    "perna";
    grid-template-rows: 200px 50px 2300px 250px;
    grid-template-columns: 850px;
}

}
@media only screen and (max-width: 500px){
body{
      display: grid;
    grid-template-areas:
    "cabeca"
    "corpo"
    "perna";
    grid-template-rows: 150px auto 250px;
    grid-template-columns: 550px ;

}
}
.ast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    border: darkblue 2px solid;
    background-color: yellow;
    width: 350px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}
.jogadores{
    width: 300px;
    height: auto;
}